@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 60px;
}




#chatbot-toggle{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  cursor: pointer;
  background: #4FA3CC;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  outline: none;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
  font-size: 1.9rem;
  transition:all  0.2s ease;
}

#chatbot-toggle span{
  position: absolute;
  color:#fff;
}

.container .show-chatbot #chatbot-toggle{
  transform: rotate(90deg);
}

#chatbot-toggle span:last-child,
.container .show-chatbot #chatbot-toggle span:first-child{
  opacity: 0; 
}

.container .show-chatbot #chatbot-toggle span:last-child{
  opacity: 1;
}

.chatbot-popup{
  position:fixed ;
  opacity:0 ;
  pointer-events: none;
  bottom:90px;
  right: 35px;
  width:420px;
  transform: scale(0.2);
  overflow: hidden;
  background: #fff;
  border-radius:15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
  transition : all 0.1s ease;
  z-index: 9999
}

.container.show-chatbot .chatbot-popup{
  opacity:1 ;
  transform: scale(1);
  pointer-events: auto;
}

.chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  background: #4FC6D2;
}

.chat-header .header-info{
  display: flex;
  align-items: center;
  gap: 10px;

}

.header-info svg{
  width: 35px;
  height: 35px;
  background: #fff;
  fill: #4FA3CC;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 50%;
}

.header-info .logo-text{
  font-size: 1.31rem;
  font-weight: 600;
  color: #fff;

}

.chat-header button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  background: none;
  transition: 0.2s ease;
  margin-right: -10px;
}

.chat-header button:hover{
  background: #17608A;

}

.chat-body{
  display: flex;
  margin-bottom: 82px;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}

.chat-body .message{
  display : flex;
  gap : 11px;
  align-items: center;
}

.chat-body .message .error .message-text{
 color:#ff0000;
}
.bot-message svg{
  width: 35px;
  height: 35px;
  background: #4FA3CC;
  fill: #fff;
  align-self:flex-end;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 50%;
}

.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  word-break: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}
.bot-message .message-text{
  background:#EDEDED;
  border-radius: 13px 13px 13px 3px;
  margin-bottom: 20px;
}

.user-message {
  flex-direction: column;
  align-items: flex-end;
}
.user-message .message-text{
  background: #4FA3CC ;
  border-radius: 13px 13px 3px 13px;
  color: #fff;
}

.chat-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding:15px 22px 20px ;
}

.chat-footer .chat-form{
  display: flex;
  align-items: center;
  background: #fff;
  outline: 1px solid #CCCCE5;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.06);
  border-radius:32px ;
}

.chat-footer .chat-form:focus-within{
  outline: 2px solid #4FA3CC;
  border-radius:32px ;
}
.chat-form .message-input{
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding : 0 17px;
  font-size: 0.95rem;
}

.chat-form button{
  height: 35px;
  width:35px;
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4FA3CC;
  color: #fff;
  border-radius: 50% ;
  flex-shrink: 0;
  font-size: 1.15rem;
  margin-right: 6px;
  transition: 0.2s ease;
}

.chat-form button:hover{
  background: #17608A;
}

/* only show send button when there is some text in input box */
.chat-form  .message-input:valid + button{
  display: block;
}

